@charset "UTF-8";
/**
 * [xLarge Screen for PC]
 * >=1200
 */

/**
 * [Large Screen for PC & Pad]
 * 960~1199
 */
@media screen and (max-width: 1144px) {
.wrapper .inner {width:100%;margin:0 auto;/* padding:0px; */}
.wrapper .inner .mod{padding: 0px 15px;}
.head .head-left{height:auto;}
.head .head-right{margin-top:28px;}
.wp-menu .menu-item a.menu-link {padding: 0 25px;}

.main1 .ml{/* width:464px; */}
.main1 .mr{/* width:464px; */}
.main2 .ml{/* width:464px; */}
.main2 .mc{width:464px;}

.post-12 .news_list li.news .news_title,
.post-31 .news_list li.news .news_title{width:80%;overflow: hidden;text-overflow:ellipsis;white-space: nowrap;} 
.post-21 .news_list li.news .news_title,
.post-22 .news_list li.news .news_title{width:80%;overflow: hidden;text-overflow:ellipsis;white-space: nowrap;} 
.post-61 .news_list li.news .news_title{padding:0px 10px;overflow: hidden;text-overflow:ellipsis;white-space: nowrap;text-align:center;} 

.post-21 .news_list li.news .news_text{display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;overflow: hidden;} 

.botlinks .links-wrap {margin:4px 5px;}

}



/**
 * [Medium Screen for Pad]
 * 768~959
 */
@media screen and (max-width: 999px) {
.wrapper .inner { width:100%; margin:0 auto;}
#header {/* background: #0160BD; */position: relative!important;}
#header .inner{padding:10px 0px;height: auto;position:relative;background:none;}
.head .head-left{ float:none;display:inline-block; width:100%; height:auto; text-align:center;}

.head .head-main{display:none;}
.head .head-right{ float:none; width:100%;margin-top:0px;}
.head .head-right .searchbox{margin: 5px 0px; width:100%;}

.site-lang{display:inline-block;width:100%;margin-bottom: 0px;}
.head .sitelogo a img{display:none;}
.head .sitelogo a{display:block;width:100%;position:relative;left:0px;top: 6px;bottom:0px;height:80px;background:url('../images/logol.png') no-repeat center center;background-size: 70%;}
.main #nav{position:relative!important;top: 0px;z-index:1000;background: #176CAF;}
#banner .inner .focusbg{display:none;}
#nav .inner .wp-panel{}/*导航*/
#nav .inner .wp-panel .wp-window{}

.mbanner .focus{display:none;}
.focus .focus-title-bar {/* display:none!important; */}
.baside{display:none;}

.wp-navi .navi-slide-head {display: block;padding:0 10px;height: 40px;}
/*导航样式：后台绑定时也可以定义配置*/
.wp-menu {display:none;background:#fff;}
.wp-menu .menu-item {display: inline-block;float:none; position: relative; z-index: 100;width:100%;padding-left:0px;border-bottom:1px solid #eee;text-align:left;}
.wp-menu .menu-item.i1 { background:none;}
.wp-menu .menu-item > .menu-switch-arrow{display: block;width: 38px;height: 38px;position: absolute;right: 6px;top: 1px;background: url(../images/icons.png) no-repeat 10px -116px;}
.wp-menu .menu-item a.menu-link {display:block;padding: 0 20px;line-height: 40px;color: #343434;font-size: 15px; }
.wp-menu .menu-item a.menu-link.hover,.wp-menu .menu-item.hover{ text-decoration: none; color: #000; background-color: #eee; }
.sub-menu {display: none;position:relative;left: 0;bottom: 0px;top: 0px;min-width: 0px;z-index: 100;background: #fff;opacity: 0.8\9;background: #444343\9;filter:alpha(opacity=90);}
.sub-menu .sub-item {position: relative;white-space: nowrap;vertical-align: top;_zoom:1;/* float: left; */border-bottom: 1px solid #eee;}
.sub-menu .sub-item a { display: block;color: #000000;height: auto;line-height: 43px;padding: 0 44px;font-size: 14px; background:none;}
.sub-menu .sub-item a:hover { color: #000; background-color:#eee; display: block; }
.sub-menu .sub-menu { left: 100%; top: 0; z-index: 200; background: rgba(11, 102, 244, 0.8); opacity: 0.8\9; background: #444343\9; filter:alpha(opacity=90); }

.wrapper.head .inner .mod{width:auto;padding: 0px 10px;margin:0 auto;}

.main1 .ml{float:none; width:100%;}
.main1 .mll{float:none; width:100%; margin-left:0px;min-height:0px;}
.main1 .mc{ float:none; width:100%;margin-left:0px;}
.main1 .mr{float:none; width:100%;} 

.main2 .inner{padding: 10px 0;}
.main2 .ml{float:none; width:100%;}
.main2 .mr{float:none; width:100%;padding-top:0px;}
.main2 .mr .mlink{float:none;}
.main2 .mc{float:none;width:100%;}

.main4 .ml{float:none;width:100%;}
.main4 .mr{float:none;width:100%;}

.post-31 .news_list li.news{/* margin-bottom:10px; */}

.rili .news_list li.news .news_text{display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;overflow: hidden;} 
.post-41 .articlecontent li{width:33.3%; height:56px;overflow:hidden;}
.post-51 .con{padding: 17px 50px 0px;}
.slick-prev {left: -35px;}
.slick-next { right: -35px;}
.post-51 .news_list li.news .news_imgs{height: 120px;background-color: #F1F1F1;position:relative;overflow:hidden;}
.post-61 .news_list li.news .news_imgs{height: 100px;background-color: #F1F1F1;position:relative;overflow:hidden;}


#footer .inner {background:none;}
#footer .inner .foot-left{float:none;padding-left: 0px;background: none;/* padding: 0; */}
#footer .inner .foot-left p{text-align:center;}
#footer .inner .foot-right{float:none;margin-top: 12px;}
#footer .inner .foot-main{display:none;}

/**友情链接**/
.botlinks .links-wrap {float: none;display: inline-block;margin:4px 0px;width:100%;}
.botlinks .links-wrap .link-items {min-width:100%;}

.slick-next {/* right: 0px; */}

.col_news .col_news_box{margin-left: 290px;margin-right: 10px;}
}
/**
 * [Small Screen for Smart Phone and Mini Pad]
 * 480~767
 */
@media screen and (max-width: 767px) {
#header .inner{height: auto;}
.head .sitelogo a img{max-width: 90%;margin:10px 0px;}
.head .sitelogo a{background-size:90%;}/*logo*/
.head .sitelogo a .name{display:block;font-size:18px;}

.main1 .ml{float:none; width:100%;}
.main1 .mr{float:none; width:100%;} 

.main2 .ml{float:none; width:100%;}
.main2 .mr{float: none;width:100%; padding-top:0px;} 
.main2 .mr .mlink{float:none;}
.post-31 .news_list li.news{/* width:33%; */margin-right:0px;margin-right:-1px;}

.rili .news_list li.news{}
.post-41 .articlecontent li{width:25%; height:56px;}
.post-51 .news_list li.news{float:left;width:50%;}
.post-51 .news_list li.news .news_imgs{height: 180px;}

.post-61 .news_list li.news{width:50%;margin-bottom:20px;}

.post-71 .news_list li.news .link_icon .icon{display:none;}
.post-71 .news_list li.news .link_con{line-height:40px;padding-left:30px;font-size:15px;}

#footer .inner {padding: 5px 0px;}
#footer .inner .foot-left{float:none;}
#footer .inner .goTop{display:none;}
#footer .inner p{text-align:center;}

.mbanner .focus-pagination {display:none;}
/*栏目图片*/
.l-banner{height: 180px;}
#l-container .inner {padding:0px 0px;}
#d-container .inner {padding:0px 0px;}
.l-banner img{width:100%;height:100%;}

.column-switch {display:block;}

.col_menu .col_menu_head h3.col_name .col_name_text { display:block; line-height:40px;padding: 0px 5px 0px 12px; font-size:16px;}  /**栏目名称图标**/
.col_news_head {border-bottom: 1px solid #ccc;}
.col_metas .col_title { display:inline-block; float:left; height: 48px; line-height: 48px; }  /**当前栏目**/
.col_metas .col_title h2 {display:inline-block;font-size: 20px;font-family:"Microsoft yahei";font-weight: normal;/* color: #90010B; *//* border-bottom: 1px solid #90010B; */}   /**当前栏目名称**/
.col_menu .col_menu_con{display:none;border:0px solid #e4e4e4;}

.col_menu {width: 100%;float:none;margin-right:0px;position:relative;} 
.col_news {width: 100%;min-height:0px;float:none;} /**栏目新闻**/
.col_news .col_news_box{margin-left: 10px;}
.col_news_con { padding:5px 0px 10px 0px; margin:0 0px;}
.col_news_con  .news_list li.news {line-height:24px;padding:4px 0px;}
.col_news_con  .news_list li.news span.news_title {line-height:24px;margin-right:100px;}/*标题*/
.col_news_con  .news_list li.news span.news_meta {margin-left:-100px;}/*属性*/
.wp_paging li.pages_count,.wp_paging li.page_jump{display:none;}

.infobox { width:auto; margin:0 10px; }

.col_news_list .wp_entry img { max-width:100%; height:auto; }   /**列表页文章图片大小限制**/
.article .entry .read img {max-width:100%; height:auto; }   /**文章阅读部分图片大小限制**/
}

/**
 * [xSmall Screen for Smart Phone]
 * 480~767
 */
@media screen and (max-width: 479px) {
.site-lang{display:block;text-align:center;}
.site-lang ul{/* float:none; */margin:0 auto;text-align:center;}
.site-lang ul li.links{margin-left:2px;}
.site-lang ul li.links a{margin: 0px 5px 0px 5px;}
.head .sitelogo a{height:50px;}/*logo*/
.post-11 .news_list li.news .news_title{width:73%;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp:1;overflow: hidden;} 
.post-12 .news_list li.news{width:100%;}
.post-31 .news_list li.news{}
.post-51 .news_list li.news{/* float:none; */width:100%;}
.post-51 .news_list li.news .news_imgs{height: 120px;} 
.post-71 .news_list li.news{width: 100%;margin-bottom:8px;}

.post-12 .news_list li.news .news_title,
.post-31 .news_list li.news .news_title{width: 72%;} 
.post-21 .news_list li.news .news_title,
.post-22 .news_list li.news .news_title,
.post-61 .news_list li.news .news_title{width:75%;} 
   
#footer .inner p.copyright span{display:block;}
}

/**
 * [Tiny Screen for Older Phone and Smart Phone]
 * <319
 */
@media screen and (max-width: 319px) {
    
}